# Created by https://www.gitignore.io/api/django

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.sqlite3
db.sqlite3
/media
#/static

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule
.env
