{% extends 'groups/base.html' %}
{% block content %}
<div class="container pt-5">
  <h1>Delete Group</h1>
  <h4>Are you sure you want to delete the {{ group.title }} group? If so, click the button below.</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger">Delete This Group</button>
  </form>
  <br>
  <h6><i><a href="{% url 'detail_group' group.id %}"><span class="oi oi-arrow-circle-left"></span> Back to the {{ group.title }} Videos page</a></i></h6>
</div>
{% endblock %}
