@import url(//db.onlinewebfonts.com/c/261506be3344b3806eefa054f0f6fbf1?family=Tempus+Sans+ITC);

@font-face {font-family: "Tempus Sans ITC";
  src: url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.eot");
  src: url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.svg#Tempus Sans ITC") format("svg");
}


.jumbotron{
  height: 100%;
  background-image: url("/static/coding_img.png");
  background-size: cover;
  background-color: #151414;
}

.jumbotron-heading {
  font-weight: 900;
  font-family: Tempus Sans ITC;
  color: #40BBB6;
}

.jumbotron .container {
  max-width: 51rem;
}

#header {
  background-color: rgba(14, 13, 13, 0.7);
  border-radius: 50%;
  text-align: center;
  line-height: 1; 
  backdrop-filter: blur(5px);  
  -webkit-backdrop-filter: blur(5px);
  max-width: 80%;
  max-height: 50%;
  padding: 11vh 10vh 5vh;
}

h1, #navbar {
  font-family: Tempus Sans ITC;
}

#navbar {
  background-color:#000;
}

a {
  color: red;
}

.btn-primary {
  background-color: #40BBB6;
  border-color: #40BBB6;
}

.btn-outline-primary {
  color: #40BBB6;
  border-color: #40BBB6;
}

a:hover {
  color: #40BBB6;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #FFF;
  color: #40BBB6;
  border-color: #40BBB6;
}

.btn-outline-primary:hover {
  background-color:#40BBB6;
  color:  #FFF;
  border-color:  #FFF;
}

.text-white:hover {
  color: #40BBB6 !important;
  text-decoration: none;
}

footer.footer a {
  color: #330000 !important;
}

footer.footer a:hover {
  color: red !important;
}